.menu {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
  height: 100vh;
  background-color: #7ea1ff;
}
.logo {
  text-align: start;
  padding: 20px;
  color: black;
  align-items: center;
  border-bottom: red;
}
h2 {
  font-size: 30px;
  text-align: center;
}
.menu--list {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
.menu--list a {
  width: 100%;
  font-size: 18px;
  text-decoration: none;
  padding-left: 10px;
  padding: 10px;
  border-radius: 10px;
  color: black;
  transition: 0.3s ease-in-out;
  text-wrap: nowrap;
}
.menu--list a:hover {
  background-color: white;
}
